doctype html
html
	head
		title Embeded Viewer - Cambridge University Digital Library
		link(rel='stylesheet', href='/stylesheets/player.css')
		script(type='text/javascript' src="/scripts/openseadragon/openseadragon.js")
		script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(type='text/javascript', src='/scripts/player.js')
		script#cudl-metadata-template(type='text/html')
			<h1 class="cudl-metadata-title"></h1>
			<h2 class="cudl-metadata-authors"></h2>
			<section class="cudl-metadata-abstract"></section>
	body.cudl-viewer
			header
				a.cudl-logo(href="//cudl.lib.cam.ac.uk", rel="nofollow", title="University of Cambridge")
					img(src="/images/brand/sponsor_cam.png", alt="University of Cambridge logo")
			section.cudl-viewer-content
				.cudl-viewer-player
				article.cudl-viewer-metadata
					#metadata
						h2 Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
					#toggle
					script(type='text/javascript' src="/scripts/cudl-callout.js")
