doctype html
html
	head
		title Embeded Viewer - Cambridge University Digital Library
		link(rel='stylesheet', href='/stylesheets/player.css')
		link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
		script(type='text/javascript' src="/lib/modernizr.custom.js")
		script(type='text/javascript' src="/scripts/openseadragon/openseadragon.js")
		script(type='text/javascript' src="/lib/jquery.js")
		script(type='text/javascript', src='/scripts/player.js')
		script#cudl-metadata-template(type='text/html')
			| <h1 class="cudl-metadata-title"><a title="View this item on the Cambridge University Digital Library" target="_blank"></a></h1>
			| <h2 class="cudl-metadata-authors"></h2>
			| <section class="cudl-metadata-abstract"></section>
			| <p class="cudl-copyright-statement">Zooming image © Cambridge University Library, All rights reserved.</p>
			| <footer>
			|   <a title="University of Cambridge Digital Library" target="_blank" href="http://cudl.lib.cam.ac.uk/"><img class="cudl-logo" alt="University of Cambridge Digital Library" src="/images/player/cudl-logo-huge.png"></a>
			|   <a title="Cambridge University Library" target="_blank" href="http://lib.cam.ac.uk/"><img class="cudl-cul-logo" src="/images/player/cul-logo-huge.png"></a>
			| </footer>
	body.cudl-viewer
			header
				a.cudl-ucam-logo(href="https://cam.ac.uk/", target="_blank", title="University of Cambridge")
				.cudl-page-position
					button.cudl-btn.cudl-btn-img-prev.fa.fa-arrow-left(accesskey="j")
					input.cudl-img-number.cudl-img-current(name="img-number", value="1", type="text", accesskey="l")
					| /
					span.cudl-img-number.cudl-img-last 924
					button.cudl-btn.cudl-btn-img-next.fa.fa-arrow-right(accesskey="k")
			section.cudl-viewer-content
				.cudl-viewer-player
				.cudl-viewer-buttons
					button.cudl-btn.cudl-btn-rotate-left.fa.fa-rotate-left(accesskey="z")
					button.cudl-btn.cudl-btn-rotate-right.fa.fa-rotate-right(accesskey="x")
					button.cudl-btn.cudl-btn-expand.fa.fa-expand(accesskey="c")
					button.cudl-btn.cudl-btn-compress.fa.fa-compress(accesskey="v")
				article.cudl-viewer-metadata.shown
					button.cudl-btn.cudl-metadata-toggle-btn(accesskey="h")
					.cudl-viewer-metadata-container
