doctype html
html
	head
		title Cambridge University Digital Library Embeded Viewer
		meta(name="viewport", content="initial-scale=1")
		link(rel='stylesheet', href='/lib/normalize.css')
		link(rel='stylesheet', href='/stylesheets/player.css')
		link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.css')
		script(type='text/javascript' src="/lib/modernizr.custom.js")
		script(type='text/javascript' src="/lib/openseadragon/openseadragon.js")
		script(type='text/javascript' src="/lib/jquery.js")
		script(type='text/javascript', src='/scripts/player.js')
		script#cudl-metadata-template(type='text/html')
			| <h1 class="cudl-metadata-title"><a title="View this item on the Cambridge University Digital Library" target="_blank"></a></h1>
			| <h2 class="cudl-metadata-summary"></h2>
			| <section class="cudl-metadata-abstract"></section>
			| <p class="cudl-copyright-statement"></p>
			| <footer>
			|   <div class="cudl-logos">
			|     <a title="University of Cambridge Digital Library" target="_blank" href="http://cudl.lib.cam.ac.uk/"><img class="cudl-logo" alt="University of Cambridge Digital Library" src="/images/player/cudl-logo-1x.png" srcset="/images/player/cudl-logo-1x.png 1x, /images/player/cudl-logo-2x.png 2x, /images/player/cudl-logo-3x.png 3x"></a>
			|     <a title="Cambridge University Library" target="_blank" href="http://lib.cam.ac.uk/"><img class="cudl-cul-logo" alt="Cambridge University Library" src="/images/player/cul-logo-1x.png" srcset="/images/player/cul-logo-1x.png 1x, /images/player/cul-logo-2x.png 2x, /images/player/cul-logo-3x.png 3x"></a>
			|   </div>
			| </footer>
		script#cudl-error-template(type='text/html')
			| <div class="error">
			| 	<h2>
			| 		<button class="cudl-btn cudl-btn-close fa fa-close" title="Hide this error"></button>
			| 		<span></span>
			| 	</h2>
			| 	<p></p>
			| </div>
		script#cudl-error-no-embed-template(type='text/html')
			| <p>
			|   Sorry, the item <em></em> cannot be embedded at this time. Please view it on the
			|   <a href="" target="_blank" title="">Cambridge University Digital Library</a> instead.
			| </p>
	body.cudl-viewer.loading
			header
				a.cudl-ucam-logo(href="https://cam.ac.uk/", target="_blank", title="University of Cambridge")
					img(src="/images/player/cam-uni-1x.png",
						srcset="/images/player/cam-uni-1x.png 1x, /images/player/cam-uni-2x.png 2x, /images/player/cam-uni-3x.png 3x",
						alt="University of Cambridge logo")
				.cudl-page-position
					button.cudl-btn.cudl-btn-img-prev.fa.fa-arrow-left(accesskey="j", title="Go to the previous image")
					input.cudl-img-number.cudl-img-current(name="img-number", value="—", type="text", accesskey="l", title="Current image")
					| /
					span.cudl-img-number.cudl-img-last(title="Total images") —;
					button.cudl-btn.cudl-btn-img-next.fa.fa-arrow-right(accesskey="k", title="Go to the next image")
				button.cudl-btn.cudl-btn-fullscreen.fa.fa-arrows-alt(accesskey="f", title="Go fullscreen")
					span.cudl-exit-fullscreen Exit fullscreen
			section.cudl-viewer-content
				.cudl-viewer-player
				.cudl-viewer-buttons
					button.cudl-btn.cudl-btn-rotate-left.fa.fa-rotate-left(accesskey="z", title="Rotate the image 90° left")
					button.cudl-btn.cudl-btn-rotate-right.fa.fa-rotate-right(accesskey="x", title="Rotate the image 90° right")
					button.cudl-btn.cudl-btn-expand.fa.fa-expand(accesskey="c", title="Zoom in to the image")
					button.cudl-btn.cudl-btn-compress.fa.fa-compress(accesskey="v", title="Zoom out of the image")
				article.cudl-viewer-metadata.shown
					button.cudl-btn.cudl-metadata-toggle-btn(accesskey="h", title="Show/hide the sidebar")
					.cudl-viewer-metadata-container
						.cudl-viewer-metadata-content
			.loading-indicator
				.ball-container
					.ball-wrapper
						.ball
				.ball-container
					.ball-wrapper
						.ball
				.ball-container
					.ball-wrapper
						.ball
				.ball-container
					.ball-wrapper
						.ball
				.loading-old-browser Loading...
			.errors
