/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Use border-box */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


/* Custom fonts */
@font-face {
	font-family: CharisSILW;
	src: url(/fonts/CharisSIL-R.woff);
}
@font-face {
	font-family: CharisSILW;
	font-style: italic;
	src: url(/fonts/CharisSIL-I.woff);
}
@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	src: url(/fonts/CharisSIL-B.woff);
}
@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	font-style: italic;
	src: url(/fonts/CharisSIL-BI.woff);
}


html, button, input[type=text], .fa > * {
	font-family: CharisSILW, Georgia, 'Times New Roman', serif;
	color: #e5e5e5;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 14px;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 18px 0;
}

h2 {
	font-size: 17px;
	margin: 14px 0;
}

p, .videoCaption {
	margin: 5px 0;
}

a {
	color: #8FB2E8;
	text-decoration: inherit;
}
a:hover {
	text-decoration: underline;
}

i {
	font-style: italic;
}

br {
	display: block;
}

.cudl-embedded-object-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
}
.cudl-embedded-object-wrapper object,
.cudl-embedded-object-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.videoCaption {
	text-align: center;
}

.cudl-metadata-title a {
	color: inherit;
}


.cudl-metadata-authors {
	font-size: 14px;
}

.cudl-author {
	font-size: 17px;
}

.cudl-copyright-statement {
	font-size: 0.8em;
	margin: 1.5em 0;
}

.cudl-viewer {
	overflow: hidden;
	background: #000000;
}

.cudl-viewer header {

  	overflow: hidden;
	position: absolute;
	z-index: 3;
	width: 100%;

	border-bottom: 1px solid #535353;
	/* ie9 doesn't know about gradients, so set a colour first which it
	   will use instead.*/
	background: rgba(0, 0, 0, 0.88);
	background:
		linear-gradient(
			to top,
			rgba(255, 255, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 6px),
		rgba(0, 0, 0, 0.88);
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.35);

	/* TODO: ensure contents match this */
	height: 32px;
}

.cudl-ucam-logo {
	display: inline-block;
	margin: 4px 0 4px 6px;

	position: relative;
	z-index: 4;
}

.cudl-page-position {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 3px 0 0 0;
	z-index: 3;
}
.cudl-page-position > * {
	vertical-align: baseline;
}
.cudl-page-position .cudl-btn {
	margin: 0 6px;
}
.cudl-img-number {
	min-width: 2.5em;
	display: inline-block;
}

/* The img/page number input which looks like regular text while not being
   interacted with. */
.cudl-img-current {
	margin-right: 3px;
	text-align: right;
	/*cursor: pointer;*/
	border-bottom: 1px solid #858585;
	width: 2.5em;
	padding: 0;

	/* Override input styling to look like regular text */
	background: none;
	border: 1px transparent;
	border-radius: 3px;

	transition: background 0.1s, border 0.1s;
}
.cudl-img-current:hover, .cudl-img-current:focus {
	background: #ececec;
	color: #3b3b3b;
}
.cudl-img-current:hover:not(:focus) {
	background: #e1e1e1;
	box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.35),
				0 0 5px 2px rgba(255, 255, 255, 0.5);
	border: 1px solid #e1e1e1;
}
.cudl-img-current:focus {
	outline: none;
	box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.35),
				0 0 5px 2px rgba(72, 147, 232, 0.5);
	border: 1px solid #61a8f1
}
.cudl-img-last {
	margin-left: 3px;
	text-align: left;
}

.cudl-viewer-content {
	height: 100%;
	/*position: relative;*/
	padding: 0;
}
.cudl-viewer-metadata {
	/* Position on the right, under the header bar. */
	position: absolute;
	right: 0;
	top: 32px;
	bottom: 0;
	width: 320px;

	/* Animate the transform which hides the metadata */
	transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.cudl-viewer-metadata-container {
	/* Raise above hide button */
	position: relative;
	z-index: 2;

	height: 100%;
	width: 100%;

	background-color: rgba(0, 0, 0, 0.88);
	border-style: solid;
	border-color: #535353;
}


.hidden .cudl-viewer-metadata-content {
	/* hide the content when the sidebar is shifted off screen to avoid
	   focusing it w/ tab etc. */
	visibility: hidden;
}

.cudl-viewer-metadata-content {
	/* Transition visibility over the same time as the sidebar is animated
	   so that it becomes hidden once it's slid off the screen. Otherwise
	   it becomes hidden as soon as it starts to slide away. */
	transition: visibility 0.8s;

	padding: 0 18px 18px 18px;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

.cudl-viewer-metadata-container footer {
	border-top: 1px solid #626262;
	padding-top: 7px;
}
.cudl-viewer-metadata-container footer .cudl-logos {
	text-align: center;
	margin: 0px -5px;
}
.cudl-viewer-metadata-container footer .cudl-logos a {
	display: inline-block;
	margin: 5px;
}

.cudl-viewer-player {
	height: 100%;
	width: 100%;
}

.cudl-viewer-buttons {
	position: absolute;
	left: 10px;
	bottom: 10px;
	opacity: 0.5;
	transition: opacity 0.3s ease;
}
.cudl-viewer-buttons:hover {
	opacity: 1;
}
.cudl-viewer-buttons .cudl-btn {
	margin: 4px;
}

.cudl-btn {
	border: 1px solid #a7a7a7;
	background: rgba(41, 41, 41, 0.8);
	border-radius: 4px;
	color: white;
	box-shadow: 0px 4px 5px 0 rgba(0, 0, 0, 0.35);
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
	cursor: pointer;

	padding: 4px 5px;
	font-size: 14px;
	line-height: 14px;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.cudl-btn:focus {
	outline: none;
	box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.35),
				0 0 5px 2px rgba(72, 147, 232, 0.5);
	border: 1px solid #61a8f1;
}
.cudl-btn:hover {
	border: 1px solid #5fb8ff;
}
.cudl-btn:active {
	background: #314d93;
}

.cudl-metadata-toggle-btn {
	position: absolute;
	z-index: 1;

	height: auto;
	width: auto;

	padding: 5px 8px;
}
.cudl-metadata-toggle-btn:before {
	content: "Hide";
}
.hidden .cudl-metadata-toggle-btn:before {
	content: "Show";
}

.cudl-btn-fullscreen {
	transition: width 1.3s ease;
	float: right;
	z-index: 4;
	position: relative;
	margin: 3px 6px 0 0;
}
.cudl-btn-fullscreen .cudl-exit-fullscreen {
	display: none;
	padding-left: 4px;
}
.cudl-fullscreen .cudl-btn-fullscreen .cudl-exit-fullscreen {
	display: inline;
}

/* Wide/normal layout */
@media (min-width: 460px) {

	.cudl-viewer-metadata-container {
		border-left-width: 1px;

		background: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.08) 0%,
				rgba(255, 255, 255, 0) 10px),
		rgba(0, 0, 0, 0.88);
		box-shadow: -4px 0px 5px 0 rgba(0, 0, 0, 0.35);
	}

	.cudl-viewer-metadata.hidden {
		/* Slide the sidebar off screen. */
		-ms-transform: translate(304px, 0px);
		-webkit-transform: translate(304px, 0px);
		-moz-transform: translate(304px, 0px);
		transform: translate(304px, 0px);
	}

	.cudl-metadata-toggle-btn {
		top: 150px;
		left: 0;

		border-radius: 0 0 3px 3px;
		border-top: none;

		-ms-transform: rotate(90deg);
		transform: rotate(90deg);

		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;

		box-shadow: 4px 0px 5px 0 rgba(0, 0, 0, 0.35);
	}
	.cudl-metadata-toggle-btn:focus {
		border-top: none;
		box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.35), /* Inner shadow */
		0 0 5px 2px rgba(72, 147, 232, 0.5), /* Outer blue glow indicating focus */
		4px 0px 5px 0 rgba(0, 0, 0, 0.35);   /* Outer black drop shadow */
	}
	.cudl-metadata-toggle-btn:hover {
		border-top: none;
	}

}

/* Narrow layout */
@media (max-width: 459px) {

	.cudl-viewer header {
		height: 64px;
	}

	.cudl-page-position {
		top: 32px;
	}

	.cudl-btn-img-next {
		float: right;
	}
	.cudl-btn-img-prev {
		float: left;
	}

	.cudl-viewer-metadata {
		width: 100%;
		top: 35%;
	}

	.cudl-viewer-metadata-container {
		border-top-width: 1px;

		background: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0.08) 0%,
				rgba(255, 255, 255, 0) 10px),
				rgba(0, 0, 0, 0.88);
		box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.35);
	}

	.cudl-viewer-metadata.hidden {
		/* Slide the sidebar off screen. */
		-ms-transform: translate(0, 100%) translate(0, -10px);
		-webkit-transform: translate(0, 100%) translate(0, -10px);
		-moz-transform: translate(0, 100%) translate(0, -10px);
		transform: translate(0, 100%) translate(0, -10px);
	}

	.hidden .cudl-viewer-metadata-content {
		overflow-y: hidden;
	}

	.cudl-metadata-toggle-btn {
		bottom: 100%;
		right: 25%;

		border-radius: 3px 3px 0px 0px;
		border-bottom: none;
		padding: 5px 8px;

		box-shadow: 0px -4px 5px 0 rgba(0, 0, 0, 0.35);
		z-index: 1;

	}
	.cudl-metadata-toggle-btn:focus {
		border-bottom: none;
		box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.35), /* Inner shadow */
					0 0 5px 2px rgba(72, 147, 232, 0.5), /* Outer blue glow indicating focus */
					0px -4px 5px 0 rgba(0, 0, 0, 0.35);   /* Outer black drop shadow */
	}
	.cudl-metadata-toggle-btn:hover {
		border-bottom: none;
	}

	.cudl-viewer-buttons {
		top: 74px;
		left: 2px;
		width: 34px;
	}


	/* Add some space above the metadata scroll area so that it doesn't cut
	   off right under the border when scrolled down. */
	.cudl-viewer-metadata-container {
		padding-top: 18px;
	}
	/* Reduce the spacing of the first metadata element now that we've
	   created extra space above it. */
	.cudl-viewer-metadata-content > :first-child {
		margin-top: 10px;
	}
	/* Drop shadow in metadata */
	.pointerevents .cudl-viewer-metadata-container::before {
		/* Overlay over the visible content area*/
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		/* Need to ignore pointer events so that the metadata underneath can
		   receive clicks/scrolls etc. */
		pointer-events: none;

		/* Draw a black gradient at top and bottom to simulate a shadow. */
		background:
			linear-gradient(
				to bottom,
				rgba(0, 0, 0, 0) 18px,
				rgba(0, 0, 0, 0.5) 18px,
				rgba(0, 0, 0, 0) 28px),
			linear-gradient(
				to top,
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0) 10px);

		/* Raise above any embedded objects in the metadata. */
		z-index: 1;
		/* Fixme: opacity; */
	}
}
