/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset */


@font-face {
	font-family: "CharisSIL";
	src: url("/fonts/CharisSIL-R.ttf");
}

@font-face {
	font-family: "CharisSIL";
	src: url("/fonts/CharisSIL-B.ttf");
	font-weight: bold;
}

html {
	font-family: CharisSIL, Georgia, 'Times New Roman', serif;
	color: #e5e5e5;
}

html, body {
	height: 100%;
	width: 100%;
}

.cudl-viewer {
	overflow: hidden;
	background: #000000;
}

.cudl-viewer header {
	border-bottom: 1px solid #494949;
  	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: 100%;
	background:
		linear-gradient(
			to top,
			rgba(255, 255, 255, 0.08) 0%,
			rgba(255, 255, 255, 0) 6px),
		rgba(0, 0, 0, 0.88);

	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.35);

	/* TODO: ensure contents match this */
	height: 32px;
}

.cudl-logo {
	background: url("/images/player/cam-logo-header.png") no-repeat;
	width: 100px;
	height: 24px;
	display: inline-block;
	margin: 5px 0 0 6px;
}

.cudl-viewer-content {
	height: 100%;
	/*position: relative;*/
	padding: 0;
}
.cudl-viewer-metadata {
	padding: 18px;

	background-color: rgba(0, 0, 0, 0.88);
	border-left: 1px solid #494949;

	position: absolute;
  	height: 100%;
  	right: 0px;
  	top: 0;
  	width: 320px;

	margin: 32px 0 0 0;
}

.cudl-viewer-player {
	height: 100%;
	width: 100%;
}


/*
#metadata {
	height: 100%;
	margin: 0 5px 0 20px;
	-webkit-overflow-scrolling: touch;
  	overflow-y: auto;
  	padding-right: 59px;
  	position: absolute;
  	top: 0;
}
*/
